bin/
obj/
out/
coverage/
TestResults/
src/Plugins/ef-querylens-vscode/node_modules/
src/Plugins/ef-querylens-vscode/out/
src/Plugins/ef-querylens-vscode/server/
src/Plugins/ef-querylens-vscode/daemon/
src/Plugins/ef-querylens-rider/.gradle/
src/Plugins/ef-querylens-rider/build/
src/Plugins/ef-querylens-rider/.intellijPlatform/
package-lock.json
**/*.vsix
**/*.zip
**/*.dll
**/*.exe
**/*.pdb
