public static class __QueryLensRunner__
{
    #region Main Entry Point
    public static object? Run(object __ctx__)
    {
__QL_CONTEXT_DECL__
__QL_STUBS__
        #region Setup
        string? __captureSkipReason = null;
        string? __captureError = null;
        var __captureInstalled = __QueryLensOfflineCapture__.TryInstall(__QL_CONTEXT_VAR__, out __captureSkipReason);
        var __captured = Array.Empty<__QueryLensCapturedSqlCommand__>();
        object? __query = null;
        #endregion

        #region Execution
        using var __scope = __captureInstalled ? __QueryLensSqlCaptureScope__.Begin() : null;
        try
        {
            __query = (object?)(__QL_EXPRESSION__);
            __query = UnwrapTask(__query);
            
            if (__captureInstalled && __query is System.Collections.IEnumerable __enumerable)
                EnumerateQueryable(__enumerable);
        }
        catch (Exception ex) 
        { 
            __captureError = ex.GetType().Name + ": " + ex.Message; 
        }
        finally
        {
            if (__captureInstalled)
                __captured = __scope!.GetCommands();
        }
        #endregion

        #region Result
        return new __QueryLensExecutionResult__
        {
            Queryable = __query,
            CaptureSkipReason = __captureSkipReason,
            CaptureError = __captureError,
            Commands = __captured,
        };
        #endregion
    }
    #endregion

    #region Helpers
    private static object? UnwrapTask(object? value)
    {
        if (value is not System.Threading.Tasks.Task task)
            return value;
        task.GetAwaiter().GetResult();
        var resultProp = value.GetType().GetProperty("Result");
        return resultProp?.GetValue(value);
    }

    private static void EnumerateQueryable(System.Collections.IEnumerable enumerable)
    {
        var enumerator = enumerable.GetEnumerator();
        try
        {
            var guard = 0;
            while (guard++ < 32 && enumerator.MoveNext()) { }
        }
        finally
        {
            (enumerator as System.IDisposable)?.Dispose();
        }
    }
    #endregion
}
